.continer {
  background-color: rgb(95, 90, 90);
  padding-inline: 2%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 25px;
  color: #000;
  font-family: "Bungee Inline";
  /* text-align: center; */
  /* background-color: red; */
  width: fit-content;
  cursor: pointer;
}
.headerScreen {
  display: flex;
}
.headerScreen h1 {
  font-size: 18px;
  margin-inline: 20px;
  cursor: pointer;
}
.headerScreen h1:hover {
  color: #1f1745;
  /* position: absolute; */
  margin-top: -2px;
}
