.continer {
  padding-inline: 2%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.divCards {
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.title {
  /* background-color: red; */
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: 8%;
}
.buttonOffer {
  /* background-color: #3a57a8; */
  background-color: rgb(67, 71, 109);
  color: #fff;
  border: solid 2px;
  width: 10%;
  padding-block: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.6s;
  border-color: #12245a;
  font-size: 13px;
}
