.continer {
  margin-top: 2%;
  width: 30%;
  /* background-color: rgb(196, 189, 189); */
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 10px;
  color: #000;
  border: solid;
  border-width: 4px;
  border-color: rgb(196, 189, 189);
}
.continer h1 {
  font-size: 17px;
}
.buttonAccept {
  color: #1bbe83;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #1bbe83;
  border-width: 2.5px;
  cursor: pointer;
  border: solid;
  transition-duration: 0.5s;
  /* box-shadow: 0 0px #999; */
}
.buttonReject {
  color: #e23243;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #e23243;
  border-width: 2.5px;
  margin-left: 20px;
  cursor: pointer;
  border: solid;
  transition-duration: 0.5s;
}
.button {
  display: flex;
  align-items: center;
}

.buttonAccept:hover {
  color: #fff;
  background-color: #1bbe83;
  border: 2px solid #1bbe83;
}
.buttonAccept:active {
  background-color: #225022;
  border: 2px solid #225022;
  transform: translateY(2px);
}
.buttonReject:hover {
  color: #fff;
  background-color: #e23243;
  border: 2px solid #e23243;
}
.buttonReject:active {
  background-color: #741720;
  border: 2px solid #741720;
  transform: translateY(2px);
}
